{%- comment -%}
Rewritten, working article list include.
Supported parameters:
  articles        (required) collection array
  group_by='year' optional
  reverse=true    optional
  show_date=true  optional
  show_excerpt=true optional
  excerpt_truncate=140 optional
  type='brief' | 'grid' (layout style)
{%- endcomment -%}

{%- assign _articles = include.articles | default: site.lab -%}
{%- if include.reverse -%}
  {%- assign _articles = _articles | reverse -%}
{%- endif -%}
{%- assign _truncate = include.excerpt_truncate | default: 140 -%}
{%- assign _group_by_year = include.group_by | default: '' -%}

{%- if _group_by_year == 'year' -%}
  {%- assign _articles = _articles | sort: 'date' | reverse -%}
{%- endif -%}

<div class="article-list-wrapper type-{{ include.type | default: 'brief' }}">
{%- if _group_by_year == 'year' -%}
  {%- assign _current_year = '' -%}
  {%- for a in _articles -%}
    {%- if a.date -%}
      {%- assign _year = a.date | date: "%Y" -%}
    {%- else -%}
      {%- assign _year = 'Undated' -%}
    {%- endif -%}

    {%- if _year != _current_year -%}
      {%- if _current_year != '' -%}</ul>{%- endif -%}
      <h2 class="archive-year">{{ _year }}</h2>
      <ul class="archive-year-list">
      {%- assign _current_year = _year -%}
    {%- endif -%}

    {%- assign _tags = a.tags | join: ' ' -%}
    <li class="archive-item" data-tags="{{ _tags }}">
      <div class="archive-item__inner">
        <h3 class="archive-item__title">
          <a href="{{ a.url | relative_url }}">{{ a.title }}</a>
        </h3>
        {%- if include.show_date and a.date -%}
          <time class="archive-item__date" datetime="{{ a.date | date_to_xmlschema }}">
            {{ a.date | date: "%Y-%m-%d" }}
          </time>
        {%- endif -%}
        {%- if include.show_excerpt -%}
          <p class="archive-item__excerpt">
            {{ a.excerpt | strip_html | truncate: _truncate }}
          </p>
        {%- endif -%}
        {%- if include.show_cover and a.cover -%}
        <div class="archive-item__cover">
          <img src="{{ a.cover | relative_url }}" alt="{{ a.title }}">
        </div>
        {%- endif -%}
        {%- if a.tags and a.tags.size > 0 -%}
          <p class="archive-item__tags">
            {%- for t in a.tags -%}
              <span class="tag">{{ t }}</span>
            {%- endfor -%}
          </p>
        {%- endif -%}
      </div>
    </li>
  {%- endfor -%}
  {%- if _articles.size > 0 -%}</ul>{%- endif -%}
{%- else -%}
  <ul class="archive-flat-list">
    {%- for a in _articles -%}
      {%- assign _tags = a.tags | join: ' ' -%}
      <li class="archive-item" data-tags="{{ _tags }}">
        <h3 class="archive-item__title">
          <a href="{{ a.url | relative_url }}">{{ a.title }}</a>
        </h3>
        {%- if include.show_date and a.date -%}
          <time class="archive-item__date" datetime="{{ a.date | date_to_xmlschema }}">
            {{ a.date | date: "%Y-%m-%d" }}
          </time>
        {%- endif -%}
        {%- if include.show_excerpt -%}
          <p class="archive-item__excerpt">
            {{ a.excerpt | strip_html | truncate: _truncate }}
          </p>
        {%- endif -%}
      </li>
    {%- endfor -%}
  </ul>
{%- endif -%}
</div>
